Repository ovh-ux/ng-ovh-web-universe-components, pull requests merged in 2019-01, with the labels that each got.

#14 Feat/autorenew invite
  package.json
  src/autorenew-invite/autorenew-invite.component.html
  src/autorenew-invite/autorenew-invite.component.js
  src/autorenew-invite/autorenew-invite.constant.js
  src/autorenew-invite/autorenew-invite.controller.js
  src/autorenew-invite/index.js
  src/autorenew-invite/translations/Messages_fr_FR.xml
  src/index.js
  yarn.lock
Labels: enhancement, quality check ok, translation required

#23 Feat/expiration date autorenew
  src/expiration/index.js
  src/expiration/service-expiration-date.component.constant.js
  src/expiration/service-expiration-date.component.controller.js
  src/expiration/service-expiration-date.component.html
  src/expiration/translations/Messages_fr_FR.xml
Labels: enhancement, quality check ok, translation required

#31 fix(autorenew-invite): add loading condition
  src/autorenew-invite/autorenew-invite.component.html
  src/autorenew-invite/autorenew-invite.controller.js
Labels: bug, quality check ok

#37 fix(i18n): retrieve translations
  src/autorenew-invite/translations/Messages_de_DE.xml
  src/autorenew-invite/translations/Messages_en_ASIA.xml
  src/autorenew-invite/translations/Messages_en_AU.xml
  src/autorenew-invite/translations/Messages_en_CA.xml
  src/autorenew-invite/translations/Messages_en_GB.xml
  src/autorenew-invite/translations/Messages_en_SG.xml
  src/autorenew-invite/translations/Messages_en_US.xml
  src/autorenew-invite/translations/Messages_es_ES.xml
  src/autorenew-invite/translations/Messages_it_IT.xml
  src/autorenew-invite/translations/Messages_nl_NL.xml
  src/autorenew-invite/translations/Messages_pl_PL.xml
  src/autorenew-invite/translations/Messages_pt_PT.xml
Labels: bug
